In [13]:
# 01_data_understanding.ipynb
import pandas as pd
import numpy as np

In [14]:
# Load dataset
df = pd.read_csv("../data/customer_behavior.csv")

In [17]:
# Basic info
df.info()
df.isnull().sum()
df.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       300 non-null    int64
 1   Age              300 non-null    int64
 2   Gender           300 non-null    object
 3   AnnualIncome     300 non-null    int64
 4   SpendingScore    300 non-null    int64
 5   PurchaseHistory  300 non-null    object
 6   ReviewText       300 non-null    object
 7   Churned          300 non-null    object
dtypes: int64(4), object(4)
memory usage: 18.9+ KB

np.int64(0)

In [18]:
# Drop duplicate rows
df = df.drop_duplicates()

In [19]:
# Convert numeric types
df['CustomerID'] = df['CustomerID'].astype(int)
df['Age'] = df['Age'].astype(int)
df['AnnualIncome'] = df['AnnualIncome'].astype(int)
df['SpendingScore'] = df['SpendingScore'].astype(int)

In [23]:
# Rename columns to snake_case
df.rename(columns={
    'CustomerID':'customer_id',
    'Age':'age',
    'Gender':'gender',
    'AnnualIncome':'annual_income',
    'SpendingScore':'spending_score',
    'PurchaseHistory':'purchase_history',
    'ReviewText':'review_text',
    'Churned':'churned'
}, inplace=True)

In [25]:
# Save cleaned data for next steps
df.to_csv('../data/customer_behavior_clean.csv', index=False)

In [26]:
# Quick view
df.head()

,customer_id,age,gender,annual_income,spending_score,purchase_history,review_text,churned
0,1001,56,Female,70990,35,Electronics,Highly recommend this product,Yes
1,1002,46,Female,95672,94,Sports,Not worth the money,No
2,1003,32,Female,85545,95,Groceries,Too expensive for the quality,No
3,1004,60,Male,104791,49,Sports,"Terrible service, not happy",Yes
4,1005,25,Female,78141,69,Groceries,Highly recommend this product,No

In [ ]:
"""
1. Data Understanding & Cleaning
Dataset Overview
The dataset customer_behavior.csv contains 300 customer records with demographic, purchase, spending, review, and churn information.
It was loaded into a pandas DataFrame for analysis.
Initial Inspection
    •	First rows & shape: df.head() and df.shape showed 300 rows × 8 columns.
    •	Column info: df.info() confirmed four numeric and four categorical columns, with no missing values.
    •	Statistics: df.describe() summarized numeric features (Age, AnnualIncome, SpendingScore).
    •	Duplicates & nulls: df.duplicated().sum() and df.isnull().sum() confirmed no duplicates or missing values.
Cleaning Steps
    1.	Dropped duplicates (precautionary).
    2.	Converted numeric columns to int.
    3.	Renamed columns to snake_case for consistency.
Summary
    •	Data is clean with no missing or duplicate entries.
    •	Numeric types are correct.
    •	Column names are standardized for analysis.
    
"""

'1. Data Understanding & Cleaning\nDataset Overview\nThe dataset customer_behavior.csv contains 300 customer records with demographic, purchase, spending, review, and churn information.\nIt was loaded into a pandas DataFrame for analysis.\nInitial Inspection\n    •\tFirst rows & shape: df.head() and df.shape showed 300 rows × 8 columns.\n    •\tColumn info: df.info() confirmed four numeric and four categorical columns, with no missing values.\n    •\tStatistics: df.describe() summarized numeric features (Age, AnnualIncome, SpendingScore).\n    •\tDuplicates & nulls: df.duplicated().sum() and df.isnull().sum() confirmed no duplicates or missing values.\nCleaning Steps\n    1.\tDropped duplicates (precautionary).\n    2.\tConverted numeric columns to int.\n    3.\tRenamed columns to snake_case for consistency.\nSummary\n    •\tData is clean with no missing or duplicate entries.\n    •\tNumeric types are correct.\n    •\tColumn names are standardized for analysis.'